.wrapper {
  border-radius: 7px;
  display: flex;
  align-items: center;
}

.product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
    background: linear-gradient(
      60deg,
      hsla(224, 85%, 66%, 0.212),
      hsla(269, 85%, 66%, 0.26),
      hsla(314, 85%, 66%, 0.205),
      hsla(359, 85%, 66%, 0.171),
      hsla(44, 85%, 66%, 0.178),
      hsla(89, 85%, 66%, 0.185),
      hsla(134, 85%, 66%, 0.171),
      hsla(179, 85%, 66%, 0.171)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}


.product-text h1 {
  font-size: 24px;
  color: #969743;
  text-align: center;
}

.product-text h2 {
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d30b0b;
  letter-spacing: 0.2em;
  text-align: center;
}

span {
  display: inline-block;
  height: 30px;
  font-family: "Suranna", serif;
  font-size: 24px;
}

.connectButton {
  border-radius: 50px;
  border: 1px solid transparent;
  height: 50px;
  width: 150px;
  margin: 10px 0;
  font-weight: 500;
  font-family: inherit;
  background-color: #0f67ec;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  border-color: #c90e0e;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 78px) {
  .wrapper {
    width: 100%;
    height: auto;
  }

  .product-info {
    width: 100%;
    border-radius: 7px;
    margin: 10px;
  }
}
