@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

.containerx {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content {
	width: 100%;
	max-width: 300px;
	padding: 20px 40px;
	text-align: center;
}

span a {
	color: #ffffff;
	text-decoration: none;
	margin: 0 10px;
	transition: all 0.4s ease-in-out;
	&
  :hover {
		color: #fd0404;
	}
}